codepkg/flows/TaskCreationForCustomerCallback.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>AssignClientId</name>
        <label>AssignClientId</label>
        <locationX>292</locationX>
        <locationY>508</locationY>
        <assignmentItems>
            <assignToReference>ClientId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CurrentContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignClientIdToLead</name>
        <label>AssignLeadId</label>
        <locationX>295</locationX>
        <locationY>1023</locationY>
        <assignmentItems>
            <assignToReference>ClientId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LeadId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignClientIdWithContactFromDB</name>
        <label>AssignClientId</label>
        <locationX>475</locationX>
        <locationY>678</locationY>
        <assignmentItems>
            <assignToReference>ClientId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FindContactByPhone.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignLeadID</name>
        <label>AssignLeadID</label>
        <locationX>475</locationX>
        <locationY>833</locationY>
        <assignmentItems>
            <assignToReference>ClientId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FindLeadByPhone.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Task</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>IsContactFound</name>
        <label>IsContactFound</label>
        <locationX>667</locationX>
        <locationY>690</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ContactFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FindContactByPhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignClientIdWithContactFromDB</targetReference>
            </connector>
            <label>ContactFound</label>
        </rules>
        <rules>
            <name>ContactNotFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FindContactByPhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FindLeadByPhone</targetReference>
            </connector>
            <label>ContactNotFound</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsExistingContact</name>
        <label>IsExistingContact</label>
        <locationX>478</locationX>
        <locationY>509</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ContactExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignClientId</targetReference>
            </connector>
            <label>ContactExist</label>
        </rules>
        <rules>
            <name>ContactNotExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CurrentContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FindContactByPhone</targetReference>
            </connector>
            <label>ContactNotExist</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsLeadFound</name>
        <label>IsLeadFound</label>
        <locationX>868</locationX>
        <locationY>830</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>LeadNotFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FindLeadByPhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NewLead</targetReference>
            </connector>
            <label>LeadNotFound</label>
        </rules>
        <rules>
            <name>LeadFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FindLeadByPhone</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignLeadID</targetReference>
            </connector>
            <label>LeadFound</label>
        </rules>
    </decisions>
    <formulas>
        <name>TomorrowDate</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 1</expression>
    </formulas>
    <interviewLabel>TaskCreationForCustomerCallback {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>TaskCreationForCustomerCallback</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>New_Task</name>
        <label>New Task</label>
        <locationX>298</locationX>
        <locationY>683</locationY>
        <connector>
            <targetReference>ResultWindow</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>TomorrowDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Auto_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile_Phone__c</field>
            <value>
                <elementReference>CurrentContact.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GetQueueByDevName.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Theme__c</field>
            <value>
                <elementReference>LeadTheme</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>ClientId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>NewLead</name>
        <label>NewLead</label>
        <locationX>880</locationX>
        <locationY>1021</locationY>
        <assignRecordIdToReference>LeadId</assignRecordIdToReference>
        <connector>
            <targetReference>AssignClientIdToLead</targetReference>
        </connector>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>LeadFieldCompany</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>CustomerLastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GetQueueByDevName.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>CurrentContact.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open - Not Contacted</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordLookups>
        <name>FindContactByPhone</name>
        <label>FindContactByPhone</label>
        <locationX>674</locationX>
        <locationY>509</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsContactFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Phone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentContact.Phone</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>FindLeadByPhone</name>
        <label>FindLeadByPhone</label>
        <locationX>876</locationX>
        <locationY>678</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsLeadFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Phone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentContact.Phone</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetQueueByDevName</name>
        <label>GetQueueByDevName</label>
        <locationX>486</locationX>
        <locationY>349</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsExistingContact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sales_Dep</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Enter_Customer_Information</name>
        <label>Enter Customer Information</label>
        <locationX>499</locationX>
        <locationY>195</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetQueueByDevName</targetReference>
        </connector>
        <fields>
            <name>CustomerFirstName</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CustomerLastName</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ContactPhone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>+375-XX-XXXXXXX</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>pattern</name>
                <value>
                    <stringValue>(\+375[0-9]{9})|(\+7[0-9]{10})|(\+48[0-9]{9})</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CurrentContact.Phone</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ResultWindow</name>
        <label>ResultWindow</label>
        <locationX>132</locationX>
        <locationY>682</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ResultText</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: transparent; color: rgb(52, 136, 247); font-size: 18px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/b&gt;&lt;b style=&quot;background-color: transparent; color: rgb(8, 80, 176); font-family: Arial; font-size: 16px;&quot;&gt;Our manager will call you back within 2 hours.&lt;/b&gt;&lt;span style=&quot;background-color: transparent; color: rgb(0, 0, 0); font-family: Arial; font-size: 16px;&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>372</locationX>
        <locationY>51</locationY>
        <connector>
            <targetReference>Enter_Customer_Information</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>LeadFieldCompany</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!CustomerFirstName} {!CustomerLastName}</text>
    </textTemplates>
    <textTemplates>
        <name>LeadTheme</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Call to client {!CustomerFirstName} {!CustomerLastName}</text>
    </textTemplates>
    <variables>
        <name>ClientId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>CurrentContactId</elementReference>
        </value>
    </variables>
    <variables>
        <name>CurrentContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>CurrentContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$User.ContactId</elementReference>
        </value>
    </variables>
    <variables>
        <name>LeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
